.git
.gitignore
node_modules
npm-debug.log
Dockerfile
.dockerignore
.env
.env.*
*.md
.vscode
.idea
*.log
dist
build
coverage
.cache
.github
.husky
__tests__
tests
test
backup*
.tmp
tmp
temp
logs
junit.xml
reports
db-data
.DS_Store
Thumbs.db 